In [3]:
import pandas as pd

# The NFL Salary Cap

The NFL Salary cap is  a limit placed upon teams in the NFL that limits how much they may spend on player salaries in a a season. The total value of the salary cap is agreed between the NFL and the NFL Players association (NFLPA), the current value of the cap is 48% of the league revenue. The salary cap for the upcoming 2023 season is \\$224.8 million per team.

Teams and their general managers spend a large amount of time putting the best roster they can together and that means setting up contracts to make est use of the sallary cap. There are lots of details and bits of wizardry around this that aren't clear to most fans. How NFL teams create cap space, why they create cap space and what the drawbacks of the GM's cap choices can be are not immediately obvious. In this workbook, using data from overthecap.com I am going to explain the major details of how player contracts and moving on from those contracts can affect the cap.

## Contracts, Cuts and Trades

### Contracts

All NFL contracts last a certain number of years, with the number of years being negotiated between the player and the team in the case of veteran contracts and being a set amount of time for rookie contracts (4 years plus a 5th year option for first rounders, 4 years for drafted non-first rounders, 3 years for undrafted free agents).

A drafted NFL Player can only negotiate with the team that drafted them, however if they refuse to sign a contract, the best move can be for the eam that drafted them  to trade them to another team who they would sign with (this happened in 2004 when the then San Diego Chargers drafted Eli Manning before trading him to the New York Giants). If a team has not either traded or agreed a contract with the player 30 days prior to the season starting, the player cannot sign that season and will need to enter the draft next season to sign with a new team (this happened with John Elway in 1983 who refused to sign for the Baltimore Colts and was drafted the year later by the Denver Broncos).

From a financial perspective an NFL contract is made up of three pieces: the signing bonus (pro-rated bonus), the base salary and the extra bonuses.

#### The signing bonus


A signing bonus is paid to the player at the start of their contract and amortised in equal chunks across the length of the contract against the cap. So a player signing a 4 year contract that includes a \\$10 million signing bonus would receive that \\$10 million at signing, but against the cap it would be \\$2.5 million a year each of the 4 contract years.

In [48]:
years = [2023,2024,2025,2026]
bonus = [2500000]*4

df = pd.DataFrame(list(zip(years, bonus)),
               columns =['Contract Year', 'Signing Bonus Against Cap'])
df

   Contract Year  Signing Bonus Against Cap
0           2023                    2500000
1           2024                    2500000
2           2025                    2500000
3           2026                    2500000

This amortisation across the years of the contract is why teams will sometimes convert base salary to a signing bonus. If our player who has a \\$10 million signing bonus is also earning \\$12 million per year in base salary their contract will looks like to below:

In [49]:
df['Base Salary'] = [12000000]*4
df['Cap Hit'] = df['Base Salary']+df['Signing Bonus Against Cap']
df

   Contract Year  Signing Bonus Against Cap  Base Salary   Cap Hit
0           2023                    2500000     12000000  14500000
1           2024                    2500000     12000000  14500000
2           2025                    2500000     12000000  14500000
3           2026                    2500000     12000000  14500000

If in 2024 the team is looking to free up some cap space they could convert some of the guaranteed base salary for that year to a signing bonus (this is normally what is being referred to when teams restructure a contract). Lets say the team converts \\$9 million of base salary to signing bonus:

In [50]:
df['Base Salary'][1] = 12000000 - 9000000
df['Signing Bonus Against Cap'][1:4] = [2500000+3000000] * 3
df['Cap Hit'] = df['Base Salary']+df['Signing Bonus Against Cap']

The \\$9 million salary is split over the three remaining years of the contract adding a further \\$3 million per year to the signing bonus but moving \\$9 million out of the base salary which drops that seasons cap hit by \\$6 million. Moving money from the base salary to the signing bonus decreases the cap hit for that season but increases it for future seasons. The cap generally increases over time so teams can often look to push more money further out in the future, particularly when they want to make moves to sign new players.

#### The base salary

Base salary can be fully guaranteed, partially guaranteed or not guaranteed. Guarantees can get complicated with base salary and more will be explained below.

For a veteran player (4+ years in the league) the base salary is fully guaranteed for that year if they are on the team's roster on opening day. For a non-veteran, the base salary is earned per-game (with the Bye also considered as a game). If a non-veteran is cut mid-season they do not earn the rest of the base salary for the remainder of the season and this amount will not count against the cap. For the veteran, if they are cut mid-season their full salary will count against the cap as it is considered as already earned.

Guaranteed money can come in multiple forms:

-Injury Guaranteed money comes into effect if a player is released (cut) but is unable to take part in football activities or pass a physical.

-Skill Guaranteed money protects a player in the case that the team does not believe the player has the requisite skills needed to play for them.

-Cap Guaranteed money provides protection against a team cutting a player so they can get under the salary cap.

When these options are joined together the money is considered fully guaranteed. Teams will often guarantee some years of base salary for a player, this is normally the first 2-4 years of long contracts.

#### Extra bonuses

The extra bonuses (also known as performance incentives) are split into two pieces, the "likely to be earned" (LTBE) and the "unlikely to be earned" (UTBE). Whether an incentive is considered likely to be earned is based on the players statistical performance in the previous season.

The incentives that are considered LTBE are counted against the salary cap from Week 1 of the season, whereas UTBE bonuses are only counted against the cap if they are earned. If an LTBE incentive iis not earned, it becomes a "cap credit" in the next season, in this way teams can carry cap over to the next season. The amount of cap that can be carried over is limited, over a 4 year period a team must spend at least 89% of the salary cap.

There are also other bonuses like roster bonuses and workout bonuses that players can earn if they are still on the roster at a certain point in their contract or if they attend a certain % of pre-season workouts.

## Cuts:

Cutting a player means either releasing them or waiving them, depending upon how long they have been in the league. A player who has been in the league for less than 4 seasons is waived, over 4 seasons they are released with the exception that players who have played over 4 years who are released midseason are waived but any other time counts as released.

Players that are waived go on the "waiver wire" where teams can claim them, if a player is claimed from the waiver wire by a new team that new team brings them in on the terms of their current contract. If a player is not claimed off waivers they become an unrestricted free agent who can sign with any team.

A released player is an unrestricted free agent once they are released. These are veterans who have played over 4 years and have been released in the early season, the off season or in pre-season.

For the cap, it doesn't matter if a player is waived or released, they look the same for cap adjustments

The June 1st Deadline: If a player is cut before June 1st all of their future prorated money and salary guarantees go onto the cap for the current season (this value is known as the "dead money"). If a player is cut post June 1st the remaining guarantees fall on the cap for the next season, this can help spread out the dead money owed to a player. Lets look at what this would mean for the contract we have previously discussed. In this example the base salary is not guaranteed.

In [42]:
df

   Contract Year  Signing Bonus Against Cap  Base Salary   Cap Hit
0           2023                    2500000     12000000  14500000
1           2024                    5500000      3000000   8500000
2           2025                    5500000     12000000  17500000
3           2026                    5500000     12000000  17500000

This is the contract as is, but lets imagine that this player gets cut between the 2024 and 2025 seasons, prior to June 1st. The \\$11 million of guaranteed money from the prorated bonus accelerates and all falls on the 2025 year as seen below:

In [46]:
df_cut1 = df
df_cut1.loc[2:4,['Signing Bonus Against Cap', 'Base Salary']] = 0
df_cut1['Dead Money']= [0,0,11000000,0]
df_cut1['Cap Hit'] = df_cut1['Base Salary']+df_cut1['Signing Bonus Against Cap']+df_cut1['Dead Money']
df_cut1

   Contract Year  Signing Bonus Against Cap  Base Salary   Cap Hit  Dead Money
0           2023                    2500000     12000000  14500000           0
1           2024                    5500000      3000000   8500000           0
2           2025                          0            0  11000000    11000000
3           2026                          0            0         0           0

However if we designate this as a post-June 1st contract cut:

In [47]:
df_cut2 = df
df_cut2.loc[3:4,['Signing Bonus Against Cap', 'Base Salary']] = 0
df_cut2['Dead Money']= [0,0,5500000,5500000]
df_cut2['Cap Hit'] = df_cut1['Base Salary']+df_cut1['Signing Bonus Against Cap']+df_cut1['Dead Money']
df_cut1

   Contract Year  Signing Bonus Against Cap  Base Salary   Cap Hit  Dead Money
0           2023                    2500000     12000000  14500000           0
1           2024                    5500000      3000000   8500000           0
2           2025                          0            0   5500000     5500000
3           2026                          0            0   5500000     5500000

## Trades

The NFL is an at will employer, this means when a player is under contract with a team they can be traded to another team at any time unless the player has contract stipulations to prevent this (known as a no-trade clause).

Players traded to new teams bring their salaries and contracts with them. This means that the new team picks up the base salary ad this will no longer be on the team that traded the players away's cap. However, the remaining pro-rated bonuses will fall against the old team in a similar way than if a player is cut, if the trade is pre June 1st the remaining pro-rated signing bonus falls against the cap for the current season if it's a post June 1st trade the team only has the standard amount of signing bonus for the current season and pays

### Example

Until now I've explained how trades and cuts would affect a hypothetical player but now lets use a real example, with data taken from overthecap.com.

Kyler Murray is the quarterback for the Arizona Cardinals and signed a new contract in 2022, the deal was reported as a 5 year, \\$230.5 million deal with \\$160 million guaranteed. Lets have a look at that contract:

In [31]:
df = pd.read_csv("Kyler Murray.csv")
df

,Year,Age,Base Salary,Prorated Bonus,Roster Bonus,Per Game Roster Bonus,Workout Bonus,Guaranteed Salary,Cap Number,Cap %
0,2022,25,"$965,000","$11,704,481",$0,$0,$0,"$965,000","$12,669,481",6.10%
1,2023,26,"$2,000,000","$13,007,000",$0,$0,"$1,000,000","$2,000,000","$16,007,000",7.00%
2,2024,27,"$37,000,000","$13,007,000",$0,"$850,000","$1,000,000","$35,300,000","$51,857,000",20.30%
3,2025,28,"$18,000,000","$13,007,000","$11,900,000","$850,000","$1,857,500",$0,"$45,614,500",16.20%
4,2026,29,"$22,835,000","$13,007,000","$17,000,000","$850,000","$1,857,500",$0,"$55,549,500",18.00%
5,2027,30,"$19,500,000","$7,200,000","$14,185,000","$850,000","$1,800,000",$0,"$43,535,000",--
6,2028,31,"$34,007,360",$0,"$9,700,000","$850,000","$1,800,000",$0,"$46,357,360",--

As you can see Murray has a more complicated contract than the example previously discussed with some guaranteed base salary and multiple types of bonuses.

In [51]:
cols = ['Base Salary', 'Prorated Bonus', 'Roster Bonus', 'Per Game Roster Bonus', 'Workout Bonus', 'Guaranteed Salary', 'Cap Number']
df[cols] = df[cols].replace('\$','', regex = True)
df[cols] = df[cols].replace(',','', regex = True)
df[cols] = df[cols].astype('int')
df

,Year,Age,Base Salary,Prorated Bonus,Roster Bonus,Per Game Roster Bonus,Workout Bonus,Guaranteed Salary,Cap Number,Cap %
0,2022,25,965000,11704481,0,0,0,965000,12669481,6.10%
1,2023,26,2000000,13007000,0,0,1000000,2000000,16007000,7.00%
2,2024,27,37000000,13007000,0,850000,1000000,35300000,51857000,20.30%
3,2025,28,18000000,13007000,11900000,850000,1857500,0,45614500,16.20%
4,2026,29,22835000,13007000,17000000,850000,1857500,0,55549500,18.00%
5,2027,30,19500000,7200000,14185000,850000,1800000,0,43535000,--
6,2028,31,34007360,0,9700000,850000,1800000,0,46357360,--

Murray has several years of the contract still to go and significant amounts of guaranteed money left. There are further guarantees that kick in on specific dates if Kyler is still on the roster, more details on these can be found on the website: https://overthecap.com/player/kyler-murray/7792

Despite the fact that there is a lot of money left on the contract, will the Cardinals try and trade Murray next year? Arizona has a good chance of getting the number 1 pick in the draft according to oddsmakers and they may want to move on to a new quarterback. Lets see what trading Kyler in 2024 would do to the Cardinals cap number.

In [52]:
df1 = pd.DataFrame(list(zip(list(df['Year']),list(df['Cap Number']))), columns = ['Year', 'Cap Number'])
df1['Cap Number'][2:] = [(13007000*3+7200000),0,0,0,0]
df1

   Year  Cap Number
0  2022    12669481
1  2023    16007000
2  2024    46221000
3  2025           0
4  2026           0
5  2027           0
6  2028           0

In the above example, the Cardinals trade Kyler before 1st June, the base salary therefore transfers to the new team and the prorated bonus that remains accelerates onto the cap for 2024, this leads to a very large dead money hit for 2024. In the below example, Kyler is traded post June 1st 2024:

In [53]:
df1['Cap Number'][2:] = [13007000,(13007000*2+7200000),0,0,0]
df1

   Year  Cap Number
0  2022    12669481
1  2023    16007000
2  2024    13007000
3  2025    33214000
4  2026           0
5  2027           0
6  2028           0

In either example there are significant cap hits from the trade, these grow even more dramatic if Kyler were to be cut as the guaranteed elements of the salary accelerate onto the cap. The below is a 2024 pre-June 1st cut:

In [55]:
df1['Cap Number'][2:] = [(35300000+13007000*3+7200000),0,0,0,0]
df1

   Year  Cap Number
0  2022    12669481
1  2023    16007000
2  2024    81521000
3  2025           0
4  2026           0
5  2027           0
6  2028           0

And the below is a 2024 post-June 1st cut:

In [56]:
df1['Cap Number'][2:] = [(35300000+13007000),(13007000*2+7200000),0,0,0]
df1

   Year  Cap Number
0  2022    12669481
1  2023    16007000
2  2024    48307000
3  2025    33214000
4  2026           0
5  2027           0
6  2028           0

The cap hits for a cut are massive in 2024, completely unworkable for a pre June 1st cut and still very difficult for a post June 1st cut. In my view neither are realistic as an option for the Cardinals, meaning that if Arizona want to take a new Quarterback in 2024 they would either trade Kyler (if they can find a suitable trade partner) or would hold onto him for the 2024 season, to either trade or cut in 2025 where the cap hits involved would be much smaller.

## Conclusions

Hopefully this workbook has given you a good overview of how the NFL salary cap works with regard to contracts, cuts and trades. There are many other details to the NFL's salary cap not mentioned here such as only the top 51 salaries on a team counting against the cap and there are other ways of managing contracts such as void years which I have also not gone into. Despite this, the above should give you a solid grounding in how to NFL teams manage the salary cap. You can use the cap calculator on overthecap.com to see where teams may have upcoming issues and plot how they can manage the their contracts to overcome cap challenges.